@model MovieSite.Models.MovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieLenght" class="control-label"></label>
                <input asp-for="MovieLenght" class="form-control" />
                <span asp-validation-for="MovieLenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReleased" class="control-label"></label>
                <input type="date" asp-for="DateReleased" class="form-control" />
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterPath" class="control-label"></label>
                <input asp-for="PosterPath" class="form-control" />
                <span asp-validation-for="PosterPath" class="text-danger"></span>
            </div>
            <div class="form-group" id="GenresDiv">
                <label asp-for="SelectedGenres" class="control-label">Genre</label>
                @Html.DropDownListFor(x => x.SelectedGenres, new MultiSelectList(Model.GenresList, "Value", "Text"),
                    htmlAttributes: new { @class = "form-control", id = "GenreList", @Multiple = true })
            </div>
            <div class="form-group">
                <label asp-for="SelectedDirector" class="control-label">Director</label>
                @Html.DropDownListFor(x => x.SelectedDirector, new SelectList(Model.PersonsList, "Value", "Text"),
                   htmlAttributes: new { @class = "form-control", id = "Director" })

            </div><div class="form-group">
                <label asp-for="SelectedScreenplay" class="control-label">Screenplay</label>
                @Html.DropDownListFor(x => x.SelectedScreenplay, new SelectList(Model.PersonsList, "Value", "Text"),
                    htmlAttributes: new { @class = "form-control", id = "Screenplay" })
            </div>
            <div class="form-group">
                <label asp-for="SelectedActors" class="control-label">MainRole</label>
                @Html.DropDownListFor(x => x.SelectedActors, new MultiSelectList(Model.PersonsList, "Value", "Text"),
                    htmlAttributes: new { @class = "form-control", id = "MainRole", @Multiple = true })
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#GenreList").select2();
            $("#Director").select2();
            $("#MainRole").select2();
            $("#Screenplay").select2();
        });
    </script>
}
